* {
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

a {
  word-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  color: #6b6882;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  &:hover {
    text-decoration: none;
    color: #1abc9c;
  }
}

ul {
  line-height: 1.8em;
  list-style: none;
  ol, li {
    list-style: none;
  }
}

.text-center {
  text-align: center;
}
