.blog-info {
  margin: 0 0 20px 0;
  a.avatar img {
    width: 60px;
    height: 60px;
    display: inline-block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 1px 2px 8px -2px grey;
            box-shadow: 1px 2px 8px -2px grey;
  }
  h1 {
    margin: -60px 0 0 80px;
    font-size: 22px;
    /* font-family: calligraffittiregular, sans-serif;*/
    font-family: "Lobster-Regular", sans-serif;
    text-shadow: 1px 1px 4px #aaa;
  }
  div.slogan {
    margin-left: 80px;
    color: #666;
    font-size: 14px;
  }
}
